//Phone
@media screen and (min-width: 280px) and (max-width: 767px) {
  .tags,
  .project-page h1::before,
  .project-page h1::after {
    display: none;
  }

  .project-page {
    .text-zone {
      position: initial;
      width: 100%;
      transform: none;
      padding: 10px;
      box-sizing: border-box;
    }

    h1 {
      font-size: 36px;
      line-height: 60px;
    }

    h2 {
      font-weight: 400;
      font-size: 15px;
    }

    .slider {
      width: 50%;
      height: 90%;
    }
    .flat-button {
      float: none;
      display: block;
      margin: 20px 80% 20px auto;
      width: 180px;
    }
  }
}

//Tablet
@media screen and (min-width: 768px) and (max-width: 1023px) {
  tags,
  .project-page h1::before,
  .project-page h1::after {
    display: none;
  }

  .project-page {
    .text-zone {
      position: initial;
      width: 100%;
      transform: none;
      padding: 10px;
      box-sizing: border-box;
    }

    h1 {
      font-size: 36px;
      line-height: 60px;
    }

    h2 {
      font-weight: 400;
      font-size: 15px;
    }

    .slider {
      width: 50%;
      height: 90%;
    }
    .flat-button {
      float: none;
      display: block;
      margin: 20px 80% 20px auto;
      width: 180px;
    }
  }
}

//For Projectors or Higher Resolution Screens (Full HD)
@media screen and (min-width: 1920px) and (max-width: 3839px) {
  .project-page {
    .text-zone {
      position: absolute;
      left: 10%;
      top: 55%;
      transform: translateY(-50%);
      width: 100%;
      vertical-align: middle;
      max-height: 90%;
      display: table-cell;
    }

    h1 {
      color: #ffd700;
      font-size: 5vw;
      line-height: 6vw;
      margin: 0;
      font-family: 'Coolvetica';
      font-weight: 400;

      &::before {
        //content: 'String.format("%s%n","';
        font-family: 'La Belle Aurore';
        color: #fdd785;
        font-size: 18px;
        line-height: 20px;
        position: absolute;
        margin-top: -40px;
        left: -15px;
        opacity: 0.6;
      }
      img {
        margin-bottom: 2%;
        width: 5vw;
        opacity: 0;
        height: auto;
        animation: fadeIn 1s linear both;
        animation-delay: 1.4s;
      }
    }
    p {
      font-size: 1.5vw;
      color: #ffffff;
      font-weight: 300;
      font-family: sans-serif;
      min-width: fit-content;
      animation: pulse 1s;
    }

    .flat-button {
      color: #fee1c7;
      font-size: 1.5vw;
      font-weight: 400;
      letter-spacing: 4px;
      font-family: sans-serif;
      text-decoration: none;
      padding: 1.5vw 3.5vw;
      border: 0.2vw solid #fee1c7;
      margin-top: 25px;
      float: left;
      animation: fadeInAnimation 1s 1.8s backwards;
      white-space: nowrap;

      &:hover {
        background: #ff7c36;
        color: #333;
      }
    }
  }
}
