.logo-container {
  //background-color: aquamarine;
  z-index: 0;
  position: absolute;
  width: 50%;
  height: auto;
  top: 0;
  left: 55%;
  bottom: 0;

  .solid-logo {
    position: relative;
    top: 10%;
    width: 75%;
    z-index: 1;
  }
}
