.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;

  .skill-tag {
    display: block;
    width: 130px;
    height: 30px;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    padding: 5px;
    align-items: center;
    //background-color: #ff7c36;

    img {
      width: 15px;
      height: 15px;
    }
  }
}

.logo-container {
  z-index: -1;
  width: 500px;
  height: 609px;
  position: absolute;
  top: 0;
  right: 5%;
  bottom: 0;
  left: auto;
  margin: auto;
  object-position: center;
}

@media screen and (max-width: 1200px) {
  .tags,
  .skill-page h1::before,
  .skill-page h1::after {
    display: none;
  }

  .skill-page {
    .text-zone {
      position: initial;
      width: 50%;
      transform: none;
      padding: 10px;
      box-sizing: border-box;
    }

    h1 {
      font-size: 36px;
      line-height: 60px;
    }

    h2 {
      font-weight: 400;
      font-size: 15px;
    }
  }

  .skill-tag {
    display: block;
    margin-left: 8%;
    width: 130px;
    height: 30px;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    padding: 5px;
    align-items: center;
    //background-color: #ff7c36;
  }
}
